.feature {
    text-align: center;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    flex-flow: column;



    &-parent-img {
        display: flex;
        height: 250px;
        width: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        text-align: center;

        &.chip-icon {
            background-image: url('../../../assets/icon-chip.png')
        }

        &:hover{
            background-image: url('../../../assets/icon-chip-active.png')
        }
    }

    &-child-img {
        height: 100px;
        width: 100px;
        background-size: contain;
        display: inline-block;
        margin: auto;
    }
    p {
        text-align: center;
    }
    .bold {
        font-weight: bold;
    }


}